@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(179, 229, 252, 1);
  margin: auto;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(179, 229, 252, 1) 0%,
    rgba(179, 229, 252, 1) 50%,
    rgba(240, 98, 146, 1) 50%,
    rgba(240, 98, 146, 1) 100%
  );
  font-family: "Roboto", sans-serif;
}

.activelink {
  color: blue;
  border: 1px solid white;
  background-color: black;
}
.app {
  background-color: brown;
}
